body{
    margin: 15px;
    background-color: silver;
}
#Nav-1{
    background-color: cornflowerblue;
    margin: 10px;
}
/* This is a comment*/

.block{
    color: green;
}
.meta{
    font-weight: 900;
    color: coral;
    font-size: 14px;
}